<div class="login-page-container">
  <img
    class="login-page-image"
    src="assets/images/login-page-img.svg"
    alt="login-page-img"
  />
  <div class="login-details-container">
    <div class="header">Welcome Back!</div>
    <form action="">
      <div class="input-box-container">
        <input
          type="email"
          placeholder="Your Email address"
          class="input-box"
        />
      </div>
      <div class="input-box-container">
        <input
          type="password"
          placeholder="Your Password"
          class="input-box"
          id="password-input"
          [(ngModel)]="password"
        />
        <span
          type="button"
          id="show-password-button"
          (click)="togglePasswordVisibility()"
          >{{ showPassword ? "Hide" : "Show" }}</span
        >
      </div>
    </form>
  </div>
</div>
