.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #fbfbfb;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  color: #fff;
  padding-top: 50px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 100;
  .logo {
    width: 207px;
    height: 58px;
  }
  ul {
    list-style: none;
    margin-top: 60px;
    width: 250px;

    li {
      width: 198px;
      margin: 10px 15px;
      padding: 2px 10px;
      height: 40px;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      line-height: 24px;
      color: #707070;
      cursor: pointer;
      span {
        display: flex;
        align-items: center;
        height: 24px;
        img {
          height: 24px;
          width: 24px;
        }
        span {
          margin-left: 10px;
          margin-top: 3px;
        }
      }
      .order-count-container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        color: #000000;
        width: 20px;
        height: 20px;
        background: #06e775;
        border: 1px solid #06e775;
        border-radius: 5px;
      }
      .cart-count-container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        color: #000000;
        width: 20px;
        height: 20px;
        background: #f3c294;
        border: 1px solid #f3c294;
        border-radius: 5px;
      }
      &:hover {
        background: #efefef;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
      }
    }
    .selected-tab {
      background: #efefef;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
    }
  }
}

.toggle-button {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  z-index: 101;
}

@media screen and (min-width: 600px) {
  .sidebar {
    left: 0;
    width: 250px;
  }

  .toggle-button {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    width: 100%;
  }

  .sidebar.show {
    transform: translateX(0);
  }
}

.toggle-button span {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #333;
  border-radius: 3px;
  z-index: 102;
}

.toggle-button span:first-child {
  transform-origin: 0% 0%;
}

.toggle-button span:last-child {
  transform-origin: 0% 100%;
}

.toggle-button.show span:first-child {
  transform: rotate(45deg);
}

.toggle-button.show span:last-child {
  transform: rotate(-45deg);
}

.toggle-button.show span:nth-child(2) {
  opacity: 0;
}
.bg-gray {
  background: #fbfbfb;
}
.bg-white {
  background: white;
}
