/* You can add global styles to this file, and also import other style files */

// @import url(../src/assets/fonts/Poppins-Regular.ttf);
//temp solution
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
form {
  margin-top: 35px;
  width: 100%;

  .input-box-container {
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgba(251, 221, 187, 0.51);
    background: rgba(255, 255, 255, 0.83);
    border-radius: 5px;
    .input-box {
      padding: 19px 0px 19px 25px;
      border: none;
      caret-color: #00302e;
      color: #00302e;
      outline: none;
      width: 100%;
    }
    span {
      cursor: pointer;
      margin-right: 10px;
      font-size: 14px;
    }
  }
}
