.card {
  width: 240px;
  margin: 32px 60px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.83);
  border: 0.3px solid rgba(0, 48, 46, 0.14);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  .dish-img {
    margin-top: 40px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
  }
  .dish-name {
    width: 200px;
    height: 33px;
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    line-height: 33px;
    color: #00302e;
  }
  .dish-description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 10px;
    width: 200px;
    height: 32px;
    font-size: 11px;
    line-height: 21px;
    text-align: center;
    color: rgba(0, 0, 0, 0.69);
  }
  .card-footer {
    width: 200px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .dish-price {
      font-weight: 700;
      font-size: 13px;
      line-height: 33px;
      color: #00302e;
    }
    .add-to-cart {
      font-weight: 500;
      font-size: 13px;
      line-height: 33px;
      text-align: right;
      color: #06e775;
      cursor: pointer;
    }
  }
}
